html, body{
  height: 100%;
}

/*
.wrap {
  min-height: 100%;
}

.main {
  overflow: auto;
}
*/

/* Header */

.layout-header {
  width: 100%;
  border-width: 1px;
  top: 50px;
  margin-bottom: 20px auto;
  vertical-align: middle;
  background-color: #EEEEEE;
  border-color: #E5E5E5;
  border-style: solid;
  border-bottom-width: 2px;
  position: fixed;
}

/* Footer Style */

/*
.footer {
  position: relative;
  margin-top: -300px;
  height: 150px;
  clear: both;
  padding-top: 20px;
}
*/

.footer-block {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-block-right {
  float: right;
}

/* Navigation */

.main-menu {
  position: fixed;
  min-width: 250px;
}

/* Search */

.global-search {
  padding-top: 25px;
  text-align: center;
  vertical-align: middle;
}

.global-search input {  
  width: 60%;
}

/* Inputs */

.input-xlarge {
  width: 80%;
}

/* TextArea */

textarea {
  width: 80%;
  height: 100px;
}

/* Selects */

.edit-select {
  width: 40%;
}

/* Tables */

.table-borderless td {
  border: hidden;
}

/* YUI autocomplete */

.yui3-aclist-list {
  text-align: left;
}

.yui3-skin-sam .yui3-aclist-content {
  border-radius: 10px;
}

.yui3-skin-sam .yui3-aclist-item-active {
  border-radius: 10px;
}

.yui3-skin-sam .yui3-aclist-item-hover {
  border-radius: 10px;
}

/* Page Logo */

.page-logo {  
  text-align: center;
  padding: 10px;
  min-width: 150px;
}

/* Front Page Carousel */

#frontpageCarousel{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  padding: 0px;
  z-index: -10;
}

/* Icons */

i[class^="icon-"] {
  opacity: 1;
}

/* Anchor padding fix */

.tab-pane:before{
  display: block; 
  content: " "; 
  margin-top: -250px; 
  height: 250px; 
  visibility: hidden; 
}

/* Responsive Design */

@media (max-width: 979px) {
  
  body{
    padding-top: 0px;
  }
  
  .global-search {
    margin-top: 60px;
  }
  
  .navbar .span2 {
    display: none;
  }

  .layout-header {
    position: relative;
    top: -20px;
    background-color: transparent;
    border: none;
  }
  
  .global-search {
    margin-top: 0px;    
  }
  
  .footer {
    position: relative;
    margin-top: -60px;
    height: 150px;
    clear: both;
    padding-top: 20px;
  }
  
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner { 
    padding: 0px;
  }
}

@media (min-width: 979px) {
  body {
    padding-top: 50px;
  }
}