/*!
 * Uses ustom ExpandoPane CSS from dojo http://ajax.googleapis.com/ajax/libs/dojo/1.9.1/dojox/layout/resources/ExpandoPane.css

 */
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 90%;
}
.header {
    background: url("../images/linen.jpg") repeat-x scroll left top transparent;
    height: 60px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header .headerLogo {
    float: left;
    left: 20px;
    position: relative;
    top: 0px;
}
#nplogo {
	position: absolute;
	bottom: 10px;
	left: 0px;
	z-index: 80;
}
.header .headerTitle {
    color: #000000;
    float: left;
    font-size: 12pt;
    font-weight: bold;
    left: 40px;
    top: 15px;
    position: relative;
}

.header .subHeaderTitle {
    color: #CFCFCF;
    font-size: small;
    padding-left: 10px;
}
.header .identify {
    float: left;
    left: 40px;
    position: relative;
    top: 25px;
}
.header .search {
    float: left;
    left: 60px;
    position: relative;
    top: 18px;
    width: 25em;
}

.header .headerLinks {
    float: right;
    color: #FFFFFF;
    position: relative;
    top: 27px;
    right: 10px;
}

.header .headerLinks a {
    color: #FFFFFF;
}



#search-input {
    background-image: url(../images/icon-search.png);
    background-position: 5px center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    
    padding: 5px 5px;
    text-indent: 20px;
    
    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;  
    width: 150px;
}

#search-input:focus {
    background-position: -20px center;
    text-indent: 0;
    width: 50%;
}
.ui-widget{
	font-size: 85%;	
}
.ui-autocomplete-loading {
    background: white url('http://jqueryui.com/resources/demos/autocomplete/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

#content {
	position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
	margin: 0;
}
#rightPane {
	width: 200px;
	overflow: auto;
}

#showhide {
	/*-moz-user-select: -moz-none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 0.5em black;
	-webkit-box-shadow: 0 0 0.5em black;
	-o-box-shadow: 0 0 0.5em black;
	box-shadow: 0 0 0.5em black;
	border: solid 2px #AAAAAA;
	background-color: rgba(255,255,255,0.9);
	background-image: url(../images/glyphicons-halflings.png);
	background-position: -448px -72px;
	margin: 0px;
	padding: 0px;
	height: 20px;
	position: fixed;
	/*top: 5px;*/
	right: 5px;
	width: 20px;
	z-index: 50;
}
#rightpanel {
	/*-moz-user-select: -moz-none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 0.5em black;
	-webkit-box-shadow: 0 0 0.5em black;
	-o-box-shadow: 0 0 0.5em black;
	box-shadow: 0 0 0.5em black;
	margin: 0px;
	padding: 5px;
	width: auto;
	line-height: 15px;
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	height: auto;
	right: 5px;
	/*top: 5px;*/
	z-index: 40;
}

#draw-toolbar-section {
	border-radius: 4px;
	margin: 0px;
	padding: 5px;
	width: auto;
	line-height: 15px;
	height: auto;
}
.btn:focus {
	outline:none !important;
}
.btn.btn-primary.active{
	background-color: rgba(200,200,200,0.9) !important;
}

.button{
	display: inline-block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size:22px 22px;
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 25px;
}
#draw-tools-toggle{	
	background-image: url(../images/glyphicons_150_edit.png);
	float: left;
	cursor: pointer;
	margin-top: 5px;
	z-index: 999;
}
.button:hover{
	background-color: rgba(240,240,240,0.9);
}
.button.active{
	background-color: rgba(240,240,240,0.9) !important;
}
#point-identify {
	background-image: url(../images/info-icon.png);	
}
#drawPoint {
	background-image: url(../images/dot-16.png);	
}
#drawCircle {
	background-image: url(../images/draw-circle-24.png);
}
#drawText {
	background-image: url(../images/draw-text-24.png);
}
#drawPolyline {
	background-image: url(../images/draw-polyline-24.png);
}
#drawExtent {
	background-image: url(../images/draw-rectangle-24.png);
}
#undo {
	background-image: url(../images/undo.png);
}
#btnRemoveMarker {
	background-image: url(../images/glyphicons_016_bin.png);
}

form {
	margin: 0 0 5px;
}

#backgroundbottom {
	position: absolute;
	background-color: rgba(255,255,255,0.8);
	bottom: 0px;
	left: 0px;
	height: 14px;
	width: 100%;
	z-index: 20;
}
#fullmap {
	position: absolute;
	bottom: 0px;
	left: 5px;
	z-index: 80;
	font-size: 11px;
}
#copyright {
	position: absolute;
	bottom: 0px;
	right: 10px;
	z-index: 80;
	font-size: 11px;
}
.esriControlsBR {
	position: absolute;
	right: 0px;
	width: 5px;
	bottom: 0px;
	z-index: 30;
}

#divCode {
	width: 400px;
	padding: 5px;
	overflow: auto;
	border: solid 2px #EEEEEE;
	background-color: #EEEEEE;
	font-family: monospace;
	word-wrap: break-word;
	white-space: pre-wrap;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 0.5em black;
	-webkit-box-shadow: 0 0 0.5em black;
	-o-box-shadow: 0 0 0.5em black;
	box-shadow: 0 0 0.5em black;
}
.tip:hover:after{	
	background: #333;
	font-size: 10px;
	background: rgba(0,0,0,.8);
	border-radius: 3px;
	color: #fff;
	content: attr(tip);
	margin-top: 30px;
	padding: 0px 5px 0px 5px;
	position: absolute;
	z-index: 98;
}
.alert-info{
	
	font-size: 10px;
	border-radius: 4px;
	padding: 5px;
}
.sp-replacer:hover:after{	
	background: #333;
	font-size: 10px;
	background: rgba(0,0,0,.8);
	border-radius: 4px;
	color: #fff;
	content: "Choose color";
	margin-top: 30px;
	padding: 0px 5px 0px 5px;
	position: absolute;
	z-index: 98;
}
/* this line hide layers when out of scale for the inline TOC */
.agsjsTOCOutOfScale {
	/*    display: none; */
}

/* Custom Scrollbar*/
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

/*Customize Esri zoom silder*/
.esriSimpleSlider {
	top: 5px;
	left: 8px;
	border: none !important;
	background-color: transparent !important;
	color: white !important;
	box-shadow: none !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.esriSimpleSlider div {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 20px;
	height: 20px;
	line-height: 18px;
	font-size: 18px;
}
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton, .esriSimpleSliderVertical .esriSimpleSliderDecrementButton {
	background: #858585;
	border: solid 1px #545454;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px !important;
}
/* end zoom slider*/
.dojoxExpandoPane {
	overflow-x: hidden;
	overflow-y: visible;
	z-index: 440 !important/*;background-color:rgba(240,238,238,.56)*/
}
.dojoxExpandoPane .dojoxExpandoWrapper {
	overflow-x: hidden;
	overflow-y: visible
}
.dojoxExpandoClosed .dojoxExpandoTitleNode {
	display: none
}
.dojoxExpandoClosed .dojoxExpandoWrapper * {
	overflow-x: hidden !important
}
.dojoxExpandoTitleNode {
	padding-right: 6px;
	padding-left: 6px
}
.dojoxExpandoIcon .a11yNode {
	display: none;
	visibility: hidden
}
.dojoxExpandoBottom .dojoxExpandoIcon, .dojoxExpandoTop .dojoxExpandoIcon, .dojoxExpandoLeft .dojoxExpandoIcon {
	float: right;
	margin-right: 2px
}
.dojoxExpandoRight .dojoxExpandoIcon {
	float: left;
	margin-left: 2px
}
.dojoxExpandoIcon {
	width: 14px;
	cursor: pointer;
	background-position: -60px 0;
	background-repeat: no-repeat;
	height: 14px
}
.dojoxExpandoClosed .dojoxExpandoIcon {
	background-position: 0 0;
	margin: 0 auto
}
.dijitBorderContainer-dijitExpandoPane {
	border: 0 !important
}
.soria .dojoxExpandoTitle {
	height: 16px;
	font-size: .9em;
	font-weight: 700;
	padding: 3px;
	padding-top: 6px;
	padding-bottom: 5px;
	background: #f0f4fc url(../../../dijit/themes/soria/images/tabContainerSprite.gif) repeat-x scroll 0 -50px;
	border-left: 1px solid #b1badf;
	border-right: 1px solid #b1badf
}
.soria .dojoxExpandoClosed .dojoxExpandoTitle {
	background: 0;
	background-color: rgba(240,238,238,.55);
	border: 0
}
.soria .dojoxExpandoClosed {
	background: 0;
	background-color: rgba(240,238,238,.55);
	border: 1px solid #b1badf !important
}
.soria .dojoxExpandoIcon {
	background-image: url(../images/spriteRoundedIconsSmall.png)
}
.dj_ie6 .soria .dojoxExpandoIcon {
	background-image: url(../images/spriteRoundedIconsSmall.gif)
}
.tundra .dojoxExpandoTitle {
	font-weight: 700;
	padding: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #fafafa url(../../../dijit/themes/tundra/images/accordionItemActive.gif) repeat-x scroll left top;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc
}
.tundra .dojoxExpandoClosed .dojoxExpandoTitle {
	background: 0;
	background-color: rgba(240,238,238,.55);
	border: 0;
	padding: 3px
}
.tundra .dojoxExpandoClosed {
	background: 0;
	background-color: rgba(240,238,238,.55);
	border: 1px solid #ccc !important
}
.tundra .dojoxExpandoRight .dojoxExpandoTitle, .tundra .dojoxExpandoLeft .dojoxExpandoTitle, .tundra .dojoxExpandoClosed .dojoxExpandoTitle, .tundra .dojoxExpandoClosed {
	background-color: #fafafa
}
.tundra .dojoxExpandoIcon {
	background-image: url(../images/spriteRoundedIconsSmall.gif)
}
.tundra .dojoxExpandoClosed .dojoxExpandoIconLeft, .tundra .dojoxExpandoClosed .dojoxExpandoIconRight, .tundra .dojoxExpandoClosed .dojoxExpandoIconTop, .tundra .dojoxExpandoClosed .dojoxExpandoIconBottom {
	margin-top: 3px
}
.claro .dojoxExpandoTitle {
	font-weight: 700;
	border-bottom: 0;
	padding: 5px 7px 2px;
	min-height: 17px
}
.claro .dojoxExpandoClosed .dojoxExpandoTitle {
	background: 0;
	border: 0;
	padding: 3px
}
.claro .dojoxExpandoClosed {
	background: 0;
	background-color: rgba(240,238,238,.55);
	border: 1px solid #769dc0 !important
}
.claro .dojoxExpandoRight .dojoxExpandoTitle, .claro .dojoxExpandoLeft .dojoxExpandoTitle, .claro .dojoxExpandoClosed .dojoxExpandoTitle {
	background-color: rgba(240,238,238,.55)
}
.claro .dojoxExpandoClosed .dojoxExpandoTitle {
	background-position: 0 0
}
.claro .dojoxExpandoIcon {
	background-image: url(../images/glyphicons-halflings.png);
	background-position: -432px -72px
}
.claro .dojoxExpandoClosed .dojoxExpandoIconLeft, .claro .dojoxExpandoClosed .dojoxExpandoIconRight, .claro .dojoxExpandoClosed .dojoxExpandoIconTop, .claro .dojoxExpandoClosed .dojoxExpandoIconBottom {
	margin-top: 3px
}
.nihilo .dojoxExpandoPane {
	background: #fafafa
}
.nihilo .dojoxExpandoTitle {
	height: 16px;
	font-size: .9em;
	font-weight: 700;
	padding: 3px;
	padding-top: 6px;
	padding-bottom: 5px;
	background: #fafafa url(../../../dijit/themes/nihilo/images/tabContainerSprite.gif) repeat-x scroll 0 -50px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc
}
.nihilo .dojoxExpandoClosed .dojoxExpandoTitle {
	background: 0;
	background-color: #fafafa;
	border: 0
}
.nihilo .dojoxExpandoClosed {
	background: 0;
	background-color: #fafafa;
	border: 1px solid #ccc !important
}
.nihilo .dojoxExpandoIcon {
	background-image: url(../images/spriteRoundedIconsSmall.png)
}
.dj_ie6 .nihilo .dojoxExpandoIcon {
	background-image: url(../../../dijit/themes/nihilo/images/spriteRoundedIconsSmall.gif)
}
.nihilo .dojoxExpandoTop {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc
}
.dojoxExpandoClosed .dojoxExpandoIcon {
	margin-right: 4px
}
.dojoxExpandoIconLeft {
	background-position: 0 0
}
.dojoxExpandoClosed .dojoxExpandoIconLeft {
	background-position: -456px -72px;
	margin-right: 4px
}
.dojoxExpandoIconRight {
	background-position: -30px 0
}
.dojoxExpandoClosed .dojoxExpandoIconRight {
	background-position: 0 0;
	margin-left: 4px
}
.dojoxExpandoIconBottom {
	background-position: -15px 0
}
.dojoxExpandoClosed .dojoxExpandoIconBottom {
	background-position: -45px 0;
	margin-top: 1px
}
.dojoxExpandoIconTop {
	background-position: -45px 0
}
.dojoxExpandoClosed .dojoxExpandoIconTop {
	background-position: -15px 0
}

/* set title font properties */
      .infowindow .window .top .right .user .titlebar .title { font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:14pt; }
      /* set content font properties */
      .infowindow .window .top .right .user .content { font-style:italic;font-weight:bold; font-size:10pt; }