@import 'nib'

a, a link
	cursor pointer

body
	padding-top 10px

#identity
	background #fff
	width auto
	height 60px
	padding-top 10px
	line-height 60px
	z-index 3

#identity img 
	margin-left 2%
	float left

#identity span 
	background none
	color #666
	font-family ClassicoURW-Reg, Georgia, Times, serif
	font-size 2em
	text-indent 0.2em
	text-shadow 1px 1px 2px #ccc
	margin-top -3px

#identity span 
	background-position 0 14px
	background-repeat no-repeat
	width 45%
	display inline-block
	line-height 60px
	height 60px

.navbar-inverse
	background-color #1669A2
	border-color #1669A2

.navbar .navbar-brand
	color white

.navbar-inverse .navbar-text
	color white

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
	background-color #04519b
	border-color #04519b

.navbar-inverse .navbar-nav > li > a
	color white

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix
	position static

.bs-sidebar.well 
	padding 0

/* First level of nav */
.bs-sidenav 
	padding-top	10px
	padding-bottom 10px
	border-radius 5px


/* All levels of nav */
.bs-sidebar .nav > li > a 
	display block
	padding 5px 20px

.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus 
	text-decoration none
	border-right 1px solid

.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a 
	font-weight bold
	background-color transparent
	border-right 1px solid

/* Nav second level (shown on .active) */
.bs-sidebar .nav .nav 
	display none /* Hide by default, but at >768px, show it */
	margin-bottom 8px

.bs-sidebar .nav .nav > li > a 
	padding-top	3px
	padding-bottom 3px
	padding-left 30px
	font-size 90%

/* Show and affix the side nav when space allows it */
@media (min-width 992px) 
	.bs-sidebar .nav > .active > ul 
		display block
	
	/* Widen the fixed sidebar */
	.bs-sidebar.affix,
	.bs-sidebar.affix-bottom 
		width 213px
	
	.bs-sidebar.affix 
		position fixed /* Undo the static from mobile first approach */
		top 80px
	
	.bs-sidebar.affix-bottom 
		position absolute /* Undo the static from mobile first approach */
	
	.bs-sidebar.affix-bottom .bs-sidenav,
	.bs-sidebar.affix .bs-sidenav 
		margin-top 0
		margin-bottom 0
	
@media (min-width 1200px) 
	/* Widen the fixed sidebar again */
	.bs-sidebar.affix-bottom,
	.bs-sidebar.affix 
		width 263px
	
.col-md-3
	padding-left 0
	width 15%
.col-md-9
	width 85%

.carousel
	width 90%
	margin-bottom  0px
.carousel-indicators
	bottom 65px

.carousel-caption
	padding 0px 20px 20px 20px
	width 100%
	height 100px
	left 0% !important
	right 0%
	bottom 0px
	text-align left
	background #333

.carousel-caption .caption-headline
	font-weight bold
	line-height 18px
	color white

.carousel-caption .caption-text 
	color #ccc

.carousel-caption .caption-link
	margin-left  10px

.carousel-caption .caption-link hover
	text-decoration none
	color #eff391

table
	tfoot, tbody
		th
			border-top 1px solid #DDD
